{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="/static/account/css/footer.css" />
</head>
<body>
    <!-- <div class="site-footer">  -->
        <footer class="site-footer">
        <div class="desigin">
            <p><strong>Desigin by:</strong> Bio Informatics.</p>
            <p><strong>Developed by:</strong> IT Team.</p>
        </div>
        <div class="copy-rights">
            <p>Copyright © 2024 RMRIMS,Patna,Bihar.</p>
            <p>All Rights Reserved. </p>
        </div>
     <!-- </div> -->
    </footer>
</body>
<script src="{% static '/js/index.js' %}"></script>
</html>